
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    margin:20px;
  }
  .sub{
    border: 1px solid black;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  }